.skills__container {
  grid-template-columns: repeat(2, 360px);
  column-gap: 1rem;
  justify-content: center;
  border: var(--border);

}

.skills__content {
  background-color: var(--light-background);
  /* border-left: 2px solid var(--light-background); */
  padding: 2rem 4rem;
  /* border-radius: 1.25rem; */
  /* border: var(--border); */
  transition: .4s;

}
.skills__content:hover {
  transform: translate(0, -10px);
  /* border-left: 2px solid var(--cyan); */
}
.skills__title {
  font-size: var(--h3-font-size);
  font-weight: 500;
  font-family: var(--head-font);
  text-align: center;
  margin-bottom: var(--mb-1-5);
  border: var(--border);

}
.skills__box{
    display: flex;
Justify-content: center;
column-gap: 2.5rem;
border: var(--border);

}



.skills__group{
    display: grid; 
align-items: start; 
justify-content: start;
row-gap: 1rem; 
border: var(--border);

}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}
.skills .bx-badge-check{
    font-size: 1rem;
color: var(--title-color); 
}
.skills__name{
    font-size: var(--normal-font-size);
font-weight: var(--font-medium);
line-height: 18px;
color: var(--light);
}
.skills__level{
    font-size: var(--smaller-font-size);
    font-family: var(--mono-font);
    color: var(--cyan);
}

/* ======= BREAKPOINTS ===================*/

/* FOR LARGE DEVICES */

@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        /* grid-template-columns: 1fr; */
        row-gap: 2rem;
    }
    .skills__box{

  justify-content: start;

  
  }
      }
  /* FOR medium DEVICES */
  
  @media screen and (max-width: 768px) {
  .skills__container{
    grid-template-columns: max-content;

  }
  .skills__content{
    /* padding: 1.5rem; */
  }
    
  }
  
  @media screen and (max-width: 576px) {
  }
  /* FOR small DEVICES */
  @media screen and (max-width: 440px) {
    .skills__content {
      padding: 2rem 2rem;

    }
  }
  @media screen and (max-width: 360px) {
    .skills__box{
        column-gap: 1.25rem;
    }
    .skills__name{
        font-size: var(--small-font-size);
    }
    .skills__content {
      padding: 2rem 1rem;

    }
  
    }
  